footer {
  background-color: #ffffff;
  height: 321px;
  font-family: Open Sans;
}

.footer-section {
  padding: 44px 0;
  display: flex;
  column-gap: 125px;
  justify-content: center;
  align-items: start;
}

.footer-section a {
  text-decoration: none;
}

.footer-section h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: start;
}

.footer-company {
  display: flex;
  flex-direction: column;
}

.footer-company a {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin: 6px 0;
}

.footer-legal-terms {
  display: flex;
  flex-direction: column;
}

.footer-legal-terms a {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin: 6px 0;
}

.footer-socmed {
  display: flex;
  flex-direction: column;
}

.socmed-icons img {
  margin: 14px 15px 0 0;
  height: 20px;
  width: 20px;
}

.footer-location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-location img {
  height: 15px;
  width: 15px;
}

.footer-location p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin-left: 3px;
}
